<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:property-placeholder location="classpath:values.properties"/>
    <bean id="Candy_Fortune_Service" class="springpackage.CandyFortuneService"/>
    
    <bean id="Cricket_Coach" class="springpackage.CricketCoach"/>
    
    <bean id="Tennis_Coach" class="springpackage.TennisCoach" scope="prototype" init-method="doMyStartUp" 
    destroy-method="doMyShutDown">
    	<property name="fortuneService" ref="Candy_Fortune_Service"></property>
    	<property name="email" value="${email}"></property>
    	<property name="teamName" value="${teamName}"></property>
    </bean>
    
    <bean id="Football_Coach" class="springpackage.FootballCoach"/>
    
 </beans>